@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Azure Maps</h1>
    <p>Learn about <a href="https://docs.microsoft.com/azure/azure-maps/">building Azure Maps apps with ASP.NET Core</a>.</p>
</div>

<div id="myMap" style="width:100%;min-width:290px;height:600px;"></div>

@section Scripts
    {
    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.css" />
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.js"></script>

    <script>
        var map;

        // Initialize a map instance.
        map = new atlas.Map('myMap', {
            center: [-122.33, 47.6],
            zoom: 12,
            style: 'satellite_road_labels',
            view: 'Auto',

            // Add authentication details for connecting to Azure Maps.
            authOptions: {
                // Use Azure Active Directory authentication.
                authType: 'anonymous',
                // Your Azure Maps client id for accessing your Azure Maps account.
                clientId: '[YOUR_AZUREMAPS_CLIENT_ID]',
                getToken: function (resolve, reject, map) {
                    // URL to your authentication service that retrieves an Azure Active Directory Token
                    fetch('/api/GetAzureMapsToken')
                        .then(function (response) {
                            return response.text();
                        })
                        .then(function (token) {
                            resolve(token);
                        })
                        .catch(function (error) {
                            reject(new Error(`Failed to fetch Azure Maps token: ${error.message}`));
                        });
                }
            }
        });

        // Wait until the map resources are ready.
        map.events.add('ready', function () {
            // Add your post map load code here.
        });
    </script>
}